NET "button1"  LOC = P51 | IOSTANDARD = LVTTL;
NET "button2"  LOC = P41 | IOSTANDARD = LVTTL;
NET "button3"  LOC = P35 | IOSTANDARD = LVTTL;
NET "button4"  LOC = P33 | IOSTANDARD = LVTTL;
NET "button5"  LOC = P30 | IOSTANDARD = LVTTL;
NET "button6"  LOC = P27 | IOSTANDARD = LVTTL;
NET "button0"  LOC = P24 | IOSTANDARD = LVTTL;









NET "level_reset" IOSTANDARD = LVTTL;
INST "level_reset_0_IBUF" LOC = P22;
NET "game_reset" IOSTANDARD = LVTTL;
INST "game_reset_0_IBUF" LOC = P17;









NET "led_strip" LOC = P40;
NET "led_strip" IOSTANDARD = LVTTL;
// with black markÿ
NET "led_strip_1" LOC = P34;
NET "led_strip_1" IOSTANDARD = LVTTL;
