NET "button1"  LOC = P51 | IOSTANDARD = LVTTL;
NET "button2"  LOC = P41 | IOSTANDARD = LVTTL;
NET "button3"  LOC = P35 | IOSTANDARD = LVTTL;
NET "button4"  LOC = P33 | IOSTANDARD = LVTTL;
NET "button5"  LOC = P30 | IOSTANDARD = LVTTL;
NET "button6"  LOC = P27 | IOSTANDARD = LVTTL;
NET "button0"  LOC = P24 | IOSTANDARD = LVTTL;
NET "button_reset"    LOC = P22 | IOSTANDARD = LVTTL;









NET "led_strip"    LOC=P40 | IOSTANDARD = LVTTL;
NET "led_Strip2"    LOC=P34 | IOSTANDARD = LVTTL;
