NET "button1" IOSTANDARD = LVTTL;
INST "button1_0_IBUF" LOC = P51;
NET "button2" IOSTANDARD = LVTTL;
INST "button2_0_IBUF" LOC = P41;
NET "button3" IOSTANDARD = LVTTL;
INST "button3_0_IBUF" LOC = P35;
NET "button4" IOSTANDARD = LVTTL;
INST "button4_0_IBUF" LOC = P33;
NET "button5" IOSTANDARD = LVTTL;
INST "button5_0_IBUF" LOC = P30;
NET "button6" IOSTANDARD = LVTTL;
INST "button6_0_IBUF" LOC = P27;
NET "button0" IOSTANDARD = LVTTL;
INST "button0_0_IBUF" LOC = P24;









NET "level_reset" IOSTANDARD = LVTTL;
INST "level_reset_0_IBUF" LOC = P22;
NET "game_reset" IOSTANDARD = LVTTL;
INST "game_reset_0_IBUF" LOC = P17;









NET "led_strip" LOC = P40;
NET "led_strip" IOSTANDARD = LVTTL;
// with black markÿ
NET "led_strip_1" LOC = P34;
NET "led_strip_1" IOSTANDARD = LVTTL;
